.container
{
    display: grid;
    place-items: center;
    width: 400px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
}